/* Navbar */
.my-navbar {
  background-color: var(--golden);
}

.navLink {
  color: var(--white) !important;
  margin: 0rem 0.5rem;
}

.navLink:hover {
  color: var(--white) !important;
}

.navLink:focus {
  font-weight: bold;
  color: var(--white) !important;
}

/* Product */
.Product-comp-wrap {
  margin-top: 5rem;
}

/* Cards */
.wrap-card:hover {
  transform: scale(1.03);
}
.rating {
  width: 60px;
  padding: 0.2rem 0.5rem;
  background-color: var(--golden);
  position: absolute;
  right: 0px;
  top: 0px;
}

.bg-card-body {
  background-color: var(--white);
}

.card-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
